PORT=3000

POSTGRES_DB=example
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SERVER_SENTRY_DSN=
SERVER_SENTRY_VERSION=
SERVER_SENTRY_PROJECT_ID=

CLIENT_SENTRY_DSN=
CLIENT_SENTRY_VERSION=
CLIENT_SENTRY_PROJECT_ID=

SESSION_SECRET=a_secret_with_minimum_length_of_32_characters
ENVIRONMENT=local

S3_ENDPOINT=http://localhost:9000

AUTH_USER_PASSWORD_PEPPER=pepper

RECAPTCHA_ACTIVE=false
RECAPTCHA_V2_SECRET=recaptcha_v2_secret
RECAPTCHA_V2_SITE_KEY=recaptcha_v2_site_key
RECAPTCHA_V3_SECRET=recaptcha_v3_secret
RECAPTCHA_V3_SITE_KEY=recaptcha_v3_site_key

EMAIL_FROM=hackaton@tdih.ro
AWS_REGION=eu-central-1

APP_BASE_URL=http://localhost:3000

LAMBDA_ENDPOINT=http://localhost:6789
JWT_SECRET=jwt_secret

TOOL_FILES_BUCKET_NAME=tool-files
TOOL_FRONTEND_BUCKET_NAME=tool-frontend
TOOL_FRONTEND_LOCAL_PROXY=true

BEDROCK_MODEL_ID=eu.anthropic.claude-3-5-sonnet-20240620-v1:0

DESCRIPTION_CHARACTERS_LIMIT=300

EXPERIMENTAL=false

INTEGER_MAX_VALUE=2147483647
INTEGER_MIN_VALUE=-2147483648
SUBSCRIPTION_PLAN_MIN_PRICE=0
SUBSCRIPTION_PLAN_MAX_PRICE=10000000 # 100k

DEFAULT_TIMEZONE=Europe/Rome
AI_KNOWLEDGE_BUCKET_NAME=ai-knowledge

MAX_CONCURRENT_DOCUMENT_UPLOADS=30

LANDING_DOMAIN_WHITELIST=
