.file-uploaded-item {
  @apply flex items-center justify-between text-gray-300 text-sm font-normal gap-3 h-[36px] w-full px-3 py-2;
  border-bottom: 1px solid rgba(55, 65, 81, 0.4);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: rgba(31, 41, 55, 0.4);
  }
}

.file-uploaded-item__name-container {
  @apply flex items-center gap-2;
}

.file-uploaded-item .file-uploaded-item__name-container,
.file-uploaded-item__name-container .file-uploaded-item__name {
  @apply flex-1 truncate
}

.file-uploaded-item .checkbox__wrap {
  @apply flex items-center justify-center
}

.file-uploaded-item .file-uploaded-item__button {
  @apply w-7 flex items-center justify-end min-w-fit
}